{
    "plugins": [
        "babel-plugin-styled-components",
        [
            "module-resolver",
            {
                "alias": {
                    "components": "./src/components/"
                }
            }
        ]
    ]
}